@page "/TableSessionPage/{Identity}"
@using BlackJackBlazor.Pages
@inherits TableSessionsPage
<h3>TableSessionPage</h3>
<p>@Session</p>
<p>@ErrorMessage</p>
@* <button @onclick="() => Back()">Exit</button>*@

 @if (Session != null)
{
    foreach (var player in Session.players)
    {
        <p>@player.Name</p>
        <p>@player.SumPoint</p>
        <p>@player.State</p>

        if (player.Name == Identity)
        {
            @foreach (var card in player.CardsInHands)
            {
                if (player.Name == Identity)
                {
                    <p>@card.CardSuit</p>
                    <p>@card.Name</p>
                }
            }

            <button @onclick="()=>TakeCardClick()">Take Card</button>
            <button @onclick = "()=>StopClick()">Stop Take Cards</button>
            <button>Restart Round</button>
        }
    }
}

