@page "/TableSessionPage/{Identity}"
@using BlackJack.Domain.Logic
@using BlackJack.Logic
@using BlackJackBlazor.Pages
@using Radzen
@using Radzen.Blazor
@inject IJSRuntime JsRuntime
@inherits TableSessionsPage

<h3>Your Table</h3>

@if (StateOfPlayers() != null)
{
    <div class="d-flex flex-row align-items-center">
        <div>
            <h4 class="mb-0">@GetPlayer().Name</h4>
        </div>
    </div>
    <h4 class="mb-0">@("Your Point:" + GetPlayer().SumPoint) @(GetPlayer().State)</h4>
    @foreach (var card in GetPlayer().CardsInHands)
    {
        var cardFace = card.ToString();
        <img src="/Resources/@(cardFace).png" height="150" />
    }
    if (GetPlayer().State == PlayerInGameState.IamThinking)
    {
        <RadzenButton Click=@(args => TakeCardClick()) Text="Take Card" ButtonStyle="ButtonStyle.Light" />
        <RadzenButton Click=@(args => StopTakeClick()) Text="Stop Take Cards" ButtonStyle="ButtonStyle.Light" />
    }
    if (GetEnemy() != null)
    {
        <div class="d-flex flex-row align-items-center">
            <div>
                <h4 class="mb-0">@GetEnemy().Name</h4>
            </div>
        </div>
        if (!IsEnemyWin() && !IsEnemyLost())
        {
            <h4 class="mb-0">@("Enemy Point:" + GetEnemy().SumEnemyPoint) @(GetEnemy().State)</h4>
            <img src="Resources/CardBack.png" height="150" />
            @foreach (var card in GetEnemy().ShowCardsForEnemy)
            {
                var cardFace = card.ToString();
                <img src="/Resources/@(cardFace).png" height="150" />
            }
        }
        else
        {
            <h4 class="mb-0">@("Enemy Point:" + GetEnemy().SumPoint), @(GetEnemy().State)</h4>
            @foreach (var card in GetEnemy().CardsInHands)
            {
                var cardFace = card.ToString();
                <img src="/Resources/@(cardFace).png" height="150" />
            }
        }
    }
}