@page "/TableSessionPage/{Identity}"
@using BlackJack.Domain.Logic
@using BlackJack.Logic
@using BlackJackBlazor.Pages
@using Radzen
@using Radzen.Blazor
@inherits TableSessionsPage

<h3>Your Table</h3>
          
@if (IsAnyPlayerWinOrLose())
{
    <div class="row">
        <div class="col-xl-6">
            <h3>Please wait @Count seconds game load new match!</h3>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
            <br />
        </div>
    </div>
}
@if (GetPlayer() != null)
{
    <div class="d-flex flex-row align-items-center">
        <div>
            <h4 class="mb-0">@GetPlayer().PlayerName</h4>
        </div>
    </div>
    <h4 class="mb-0">@("Your Point:" + GetPlayer().SumPoint) @(GetPlayer().State)</h4>
    @foreach (var card in GetPlayer().CardsInHands)
    {
        cardFace = card.ToString();
        <img src="/Resources/@(cardFace).png" height="150" />
    }

    if (GetPlayer().State == PlayerInGameState.IamThinking || !IsAnyPlayerWinOrLose())
    {
        <RadzenButton Click=@(args => TakeCardClick()) Text="Take Card" ButtonStyle="ButtonStyle.Light" />
        <RadzenButton Click=@(args => StopTakeClick()) Text="Stop Take Cards" ButtonStyle="ButtonStyle.Light" />
    }
}
@if (GetEnemy() != null)
{
    <div class="d-flex flex-row align-items-center">
        <div>
            <h4 class="mb-0">@GetEnemy().PlayerName</h4>
        </div>
    </div>
    if (!IsAnyPlayerWinOrLose())
    {
        <h4 class="mb-0">@("Enemy Point:" + GetEnemy().ShowPointForEnemy) @(GetEnemy().State)</h4>
        <img src="Resources/CardBack.png" height="150" />
        @foreach (var card in GetEnemy().ShowCardsForEnemy)
        {
            cardFace = card.ToString();
            <img src="/Resources/@(cardFace).png" height="150" />
        }
    }
    else
    {
        <h4 class="mb-0">@("Enemy Point:" + GetEnemy().SumPoint), @(GetEnemy().State)</h4>
        @foreach (var card in GetEnemy().CardsInHands)
        {
            cardFace = card.ToString();
            <img src="/Resources/@(cardFace).png" height="150" />
        }
    }
}